Repository ritscc/Snack, pull requests merged in 2023-05, with the labels that each got.

#7 User protoの定義
  protobuf/user/v1/user.proto
Labels: protobuf

#9 Channel protoファイルの定義
  protobuf/channel/v1/channel.proto
Labels: protobuf

#6 Event機能を追加
  protobuf/event/v1/event.proto
Labels: protobuf

#10 UserGroup protoの追加
  protobuf/user_group/v1/user_group.proto
Labels: protobuf

#11 ServiceのMessageに引数を追加しました
  protobuf/message/v1/message.proto
Labels: protobuf

#3 protoファイル定義
  protobuf/README.md
  protobuf/authentication/v1/authentication.proto
  protobuf/channel/v1/channel.proto
  protobuf/event/v1/event.proto
  protobuf/message/v1/message.proto
  protobuf/stamp/v1/stamp.proto
  protobuf/user/v1/user.proto
  protobuf/user_group/v1/user_group.proto
Labels: protobuf

#13 protoファイルからGoコードの生成
  backend/pb/authentication/v1/authentication.pb.go
  backend/pb/authentication/v1/authentication_grpc.pb.go
  backend/pb/channel/v1/channel.pb.go
  backend/pb/channel/v1/channel_grpc.pb.go
  backend/pb/event/v1/event.pb.go
  backend/pb/event/v1/event_grpc.pb.go
  backend/pb/message/v1/message.pb.go
  backend/pb/message/v1/message_grpc.pb.go
  backend/pb/stamp/v1/stamp.pb.go
  backend/pb/user/v1/user.pb.go
  backend/pb/user/v1/user_grpc.pb.go
  backend/pb/user_group/v1/user_group.pb.go
  backend/pb/user_group/v1/user_group_grpc.pb.go
Labels: protobuf, backend

#22 Typoを修正
  backend/pb/authentication/v1/authentication.pb.go
  backend/pb/authentication/v1/authentication_grpc.pb.go
  backend/pb/channel/v1/channel.pb.go
  backend/pb/event/v1/event.pb.go
  backend/pb/message/v1/message.pb.go
  backend/pb/stamp/v1/stamp.pb.go
  backend/pb/user/v1/user.pb.go
  backend/pb/user_group/v1/user_group.pb.go
  protobuf/authentication/v1/authentication.proto
  protobuf/message/v1/message.proto
  protobuf/user_group/v1/user_group.proto
Labels: protobuf, backend

#45 add isdeleted flag to message User
  protobuf/user/v1/user.proto
Labels: protobuf

#58 Goのコード生成方法をドキュメントに記述
  protobuf/README.md
Labels: documentation

#52 Initialize tauri app
  desktop/.gitignore
  desktop/.gitkeep
  desktop/README.md
  desktop/index.html
  desktop/package.json
  desktop/public/tauri.svg
  desktop/public/vite.svg
  desktop/src-tauri/.gitignore
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/build.rs
  desktop/src-tauri/icons/128x128.png
  desktop/src-tauri/icons/128x128@2x.png
  desktop/src-tauri/icons/32x32.png
  desktop/src-tauri/icons/Square107x107Logo.png
  desktop/src-tauri/icons/Square142x142Logo.png
  desktop/src-tauri/icons/Square150x150Logo.png
  desktop/src-tauri/icons/Square284x284Logo.png
  desktop/src-tauri/icons/Square30x30Logo.png
  desktop/src-tauri/icons/Square310x310Logo.png
  desktop/src-tauri/icons/Square44x44Logo.png
  desktop/src-tauri/icons/Square71x71Logo.png
  desktop/src-tauri/icons/Square89x89Logo.png
  desktop/src-tauri/icons/StoreLogo.png
  desktop/src-tauri/icons/icon.icns
  desktop/src-tauri/icons/icon.ico
  desktop/src-tauri/icons/icon.png
  desktop/src-tauri/src/main.rs
  desktop/src-tauri/tauri.conf.json
  desktop/src/App.css
  desktop/src/App.tsx
  desktop/src/assets/react.svg
  desktop/src/main.tsx
  desktop/src/styles.css
  desktop/src/vite-env.d.ts
  desktop/tsconfig.json
  desktop/tsconfig.node.json
  desktop/vite.config.ts
  desktop/yarn.lock
Labels: desktop

#54 リクエストレスポンス図の作成と説明の記述
  docs/draw.oi/rpc_connection.dio
  docs/draw.oi/rpc_connection.svg
  docs/draw.oi/rpc_connection_initialization.dio
  docs/draw.oi/rpc_connection_initialization.svg
  docs/rpc_connection.md
Labels: documentation

#56 アーキテクチャ図の作成
  docs/architecture.md
  docs/draw.oi/architecture.dio
  docs/draw.oi/architecture.svg
Labels: documentation

#55 Snack全体での開発の流れを記述
  docs/development_flow.md
Labels: documentation

#60 drawioとdrawioから出力されるsvgのディレクトリを分割
  docs/drawio/architecture.dio
  docs/drawio/rpc_connection.dio
  docs/drawio/rpc_connection_initialization.dio
  docs/img/architecture.svg
  docs/img/rpc_connection.svg
  docs/img/rpc_connection_initialization.svg
Labels: documentation

#62 ドキュメントの画像URLが無効を修正
  docs/architecture.md
  docs/rpc_connection.md
Labels: documentation
